# Example how to call and use model

Input: Pandas Dataframe with 33 columns and at least 365 rows (1 year)

Output: Pandas Dataframe, size: (5x2), the temperature in Hanoi for the next 5 days (from the latest day of the Input)

## Example input:
| named | datetime | temp | maxtemp | mintemp | feelslike | maxfeelslike | minfeelslike | humidity | solarenergy | uvindex | conditions | description |
| :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |
| Hanoi | 2015-10-01 | 34.1 | 24.0 | 29.6 | 39.7 | 24.0 | 34.3 | 73.8 | 18.4 | 8 | Rain, Partially cloudy | Partly cloudy throughout the day with rain. |
| Hanoi | 2015-10-02 | 32.1 | 24.5 | 27.6 | 36.6 | 24.5 | 30.2 | 79.9 | 12.9 | 7 | Rain, Partially cloudy | Partly cloudy throughout the day with rain. |

## Example output:
| datey | pred |
| :--- | :--- |
| 2025-10-02 | 27.964354 |
| 2025-10-03 | 28.305072 |
| 2025-10-04 | 28.364740 |
| 2025-10-05 | 28.418861 |
| 2025-10-06 | 28.154985 |

# Code Example

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
from preprocess_data import predict_future
df = pd.read_csv('../data/raw/daily_data.csv')

temp1_5 = predict_future(df)
temp1_5

        date     y_pred
0 2025-10-02  27.964354
1 2025-10-03  28.305072
2 2025-10-04  28.364740
3 2025-10-05  28.418861
4 2025-10-06  28.154985